/* Default styles for all screen sizes */
html{
	scroll-behavior:smooth;
}
body {
    
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
body h1{
	font-size:60px;
	color: #fff;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	transition:0.5s;
	font-family:Roboto,sans-serif;
}


#back-video{
	position:fixed;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	z-index:-1;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #2196F3;
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    text-align: center;
    font-size: 25px;
}

h6 {
    text-align: center;
    color: #fff;
font-size: 15px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(105,105,105,0.6);
	color:#fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0c7cd5;
}

#usernames {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(105,105,105,0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
	color:#fff;
}

#usernames strong {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
	color:#fff;
}


}
@media (min-aspect-ratio:16/9){
	#back-video{
		width:100%;
		height:auto;
	}
}
@media (max-aspect-ratio:16/9){
	#back-video{
		width:auto;
		height:100%;
	}
}
